@media screen and (max-width:800px){
    .container-about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-header{
        margin-top: 120px;
    }

    .text-header h1{
        font-size: 50px;
    }

    .text-header h2{
        font-size: 23px;
    }

    .image-about-us{
        width: 95%;
        margin-bottom: 60px;
    }

    .about-us .content-text{
        width: 95%;
    }

    .gallery-market{
        width: 45%;
    }

    #wave{
        height: initial;
        margin-bottom: -15px;
    }

    .final-title{
        font-size: 20px;
    }
}

@media screen and (max-width:500px){
    
    .text-header{
        margin-top: 150px;
    }

    nav{
        text-align:right;
        padding: 30px 30px 0 0;
    }

    nav > a{
        margin-right: 15px;
    }

    .text-header h1{
        font-size: 38px;
    }

    .text-header h2{
        font-size: 18px;
    }
    #wave{
        height: initial;
        margin-bottom: -15px;
    }

    .gallery-market{
        width: 95%;
    }

    .final-title{
        font-size: 16px;
    }
}
