*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.title{
    font-size: 30px;
    color: darkcyan;
    text-align: center; /*texto al centro*/
    margin-bottom: 60px; /*distancia de titulo con imagen*/
    text-transform: uppercase; /*mayuscula*/
}

header{
    width: 100%;
    height: 850px;

    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 83%, 32%, 0.2), hsla(0, 83%, 32%, 0.2)), url(../images/img13.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 83%, 32%, 0.2), hsla(0, 83%, 32%, 0.2)), url(../images/img13.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed; /*no se repita permite bajar*/
    position: relative;
}

nav{
    text-align:right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: bold;
    text-decoration: none; /*sin subrrayado*/
    margin-right: 55px;
}

nav > a:hover{
    text-decoration: underline; /*maus resalta subrrayado*/
}

#wave{
    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute; /*ola abajo*/
}

.text-header{
    display: flex; /*en una sola line titulo*/
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center; /*centro horizontal*/
    flex-direction: column;
    text-align: center; /*columna h2*/
    /*background: #274046;*/
    margin-top: 20px; /*subir bajar titulo*/
}

.text-header h1{
    font-size: 80px;
    font-weight: 400; /*modificar letra titulo*/
    color: #fff;
}

.text-header h2{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.container-about-us{
    display: flex;
    justify-content:space-evenly;
}

.image-about-us{
    width: 45%; /*reduce la imagen*/
    border-radius: 5%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.about-us .content-text{
    width: 45%;
}

.content-text h3{
    margin-bottom: 25px;
}

.content-text h3 span{
    background:#2b4251;
    color: #fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    margin-right: 7px;
}

.content-text > p{
    padding: 0 0 30px 30px;
    text-align: justify;
    font-weight: 300;
}

/*.markets{
    background-color:rgb(221, 233, 227);
}*/

.gallery{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.gallery-market{
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.image-galery{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}

.hover-gallery{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsl(231deg 55% 32% / 64%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform:scale(0);
    transition: transform .5s;
}

.hover-gallery > img{
    width: 70px;
}

.gallery-market:hover .hover-gallery{
    transform: scale(1);
}

.hover-gallery > p{
    color: #fff; /*cambiar de color a la letra blanco*/
    margin-top: 25px;
}

footer{
    background-color: rgb(135, 207, 135);
    padding: 20px 50px 30px 50px;
    margin: auto;
}

.container-footer{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    margin: auto;
}

.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 2px solid #ccc;
}

.content-footer{
    text-align: center;
    color:#fff;
}

.content-footer h4{
    /*border-bottom: 3px solid #fff;*/
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.final-title{
    text-align: center;
    font-size: 26px;
    margin: 24px 0 0 0;
    color: #fff;
}

/*.logo{
    text-align: left;
}*/